@import url('https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2');

body {
    color: #fff;
    font-family: 'Onest', sans-serif;
    background: #222;
}

.choice-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.choice-letter {
    padding: 10px 20px;
    font-size: 2rem;
    background: rgb(252, 0, 255);
}

.choice-text {   
    width: 80%;         
    background: #fff;
    border: 1px solid rgb(252, 0, 255);

    &:hover {
        box-shadow: 2px 2px 7px 1px rgb(252, 0, 255);
    }
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-score {
    text-align: center;
}

.progressBar {
    width: 15rem;
    height: 2rem;
    border-radius: 8px;
    border: 2px solid rgb(252, 0, 255);
    margin-top: 1rem;
}

.progressBarFull {
    height: 3.4rem;
    background: rgb(253, 160, 254);
    width: 0%;
}