.choice-container {
    display: flex;
    width: 100%;
    font-size: 1.8rem;
    border: 1px solid rgba(86, 165, 235, 0.25);
    background: #fff;

    &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 7px 1px rgba(86, 165, 235, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }
}

.choice-letter {
    padding: 1.5rem 2.5rem;
    background: rgb(255, 0, 255);    
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-text {
    text-align: center;
    font-size: 2rem;
}

.hud-score {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 1px solid rgb(255, 0, 255);
    border-radius: 0.3rem;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 1.3rem;
    background: rgb(255, 78, 255);
    width: 0;
}