@import url('https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #222;
    font-family: 'Onest', sans-serif;
}

main {
    width: 80%;
    margin: 200px auto;
    & h1 {
        text-align: center;
        font-size: 48px;
    }
}

main > * {
    width: 100%;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;

    & a {
        margin: auto;
        color: rgb(196, 0, 255);
        background: #f7f7f7;
        font-size: 1.2rem;
        font-weight: 500;        
        width: 15rem;
        text-align: center;
        text-decoration: none;
        padding: 8px;

        &:hover {
            box-shadow: 2px 2px 5px 1px rgb(252, 0, 255);
            transition: all .3s ease;
        }
    }
}