@import url('https://cdn.jsdelivr.net/fontsource/fonts/onest:vf@latest/latin-wght-normal.woff2');

:root {
    background: #222;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Onest', sans-serif;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: rgb(225, 0, 255);
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}
  
h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
    gap: 20px;
}

main > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
  
.flex-center {
    justify-content: center;
    align-items: center;
}
  
.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

main h1 {
    font-size: 48px;
}

#home a {
    color: rgb(225, 0, 255);
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 1px solid rgb(225, 0, 255);
    margin-bottom: 1rem;
    background: #fff;

    &:hover {
        box-shadow: 2px 2px 7px 1px rgb(225, 0, 255);
    }
}